---
- name: Install prerequisite packages
  ansible.builtin.package:
    name:
      - docker-ce
      - python3-pip
    state: present

- name: Create docker volumes
  community.docker.docker_volume:
    name: "{{ item }}"
  with_items: "{{ docker_volumes }}"
  when: docker_volumes is defined and docker_volumes | length > 0

- name: Log into private registry and force re-authorization
  community.docker.docker_login:
    registry_url: "{{ registry }}"
    username: "{{ registry_user | default('') }}"
    password: "{{ registry_pass | default('') }}"
    reauthorize: true
  when: registry | string | length > 0

- name: Pull an image
  community.docker.docker_image:
    name: "{{ docker_image }}"
    source: pull

- name: Create systemd service file
  ansible.builtin.template:
    src: "service_template.service.j2"
    dest: /etc/systemd/system/{{ docker_service_name }}.service
    mode: "0644"
  vars:
    service_name: "{{ docker_service_name }}"
    image: "{{ docker_image }}"
    run_args: "{{ docker_run_args | default('') }}"
    command: "{{ docker_command | default('') }}"
  notify:
    - Enable docker service
    - Restart docker service

- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true

- name: Ensure docker service is running and enabled
  ansible.builtin.systemd:
    name: "{{ docker_service_name }}.service"
    state: started
    enabled: true
