[Unit]
Description={{ service_name }} Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill {{ service_name }}
ExecStartPre=-/usr/bin/docker rm {{ service_name }}
ExecStart=/usr/bin/docker run --name {{ service_name }} \
  {{ run_args }} \
  {{ image }}{% if command is defined and command | string | length > 0 %} {{ command }}{% endif %}
ExecStop=/usr/bin/docker stop {{ service_name }}

[Install]
WantedBy=multi-user.target